header{
    background-image: url("img/background1.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

header h1{
    text-decoration: overline pink; 
    text-transform: uppercase;
    padding: 100px, 100px;
    cursor: pointer;
    transition: all;
    letter-spacing: 5px;
    color: pink;
    background: white;
}
html,body {
    height: 100%;
    margin: 0%;
}
header h1:hover{
    background-color:pink;
    color: white;
    ;
}
/*
h2{
color: black;
font-size: 100%;
background-image: url("img/background.jpg");
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
}
*/

section {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}


article{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 20px;
    padding: 1px 1px;
    align-items:center;
    animation: enter 2s linear;
    
    color: rgb(210, 210, 210);
    text-align: center;
        
}
        
h2{
text-align: center;
border: white solid 2px;
background-color: rgba(255,255,255,0.7);
    
}

    /** RSPONSIVE**/
/*Mobile**/
@media screen and (max-width:600px) {
    section {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    article {
        width:80%;
    }
}
/*Tablet*/
@media only screen and (min-width:600px) and (max-width: 900px) {
    article { width: 40%;}
}
    
    /** Animation **/
    @keyframes enter {
    from { opacity: 0;
    transform: translateY(100px);}
    to { opacity: 1;
    transform: translateY(0px);}
    }
    
    


    